.textInput {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border: 3px solid #007DBA;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;

  &:disabled {
    border-color: gray;
  }
}

.textFieldTitle {
  font-size: 14px;
  color: #007DBA;
  background-color: #FFF8F2;
  margin-left: 15px;
  margin-bottom: -9px;
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
  position: relative;
  height: fit-content;
}

.characterLimit {
  font-size: 10px;
  text-align: right;
  color: #007DBA;
}

.error {
  color: red;
}

.disabled {
  color: gray;
  border-color: gray;
}

.currency {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 31px;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  color: #007DBA;
}

.textInputContainer {
  position: relative;
  display: inline-block;
}

.textInputCurrency {
  padding-left: 25px;
}
