.checklistItem {
  border: 3px solid #90029C;
  border-radius: 10px;
  height: 40px;
  display: inline-block;
  width: 150px;
  text-align: center;
  line-height: 40px;
  margin: 5px;
}

.checkboxChecked {
  background-color: #90029C;
  color: white;
}

.checkbox {
  display: none;
}

.checklistContainer {
  border: 3px solid #90029C;
  border-radius: 10px;
  width: fit-content;
}
