.appContainer {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #90029C;
  width: 90%;
  height: calc(100vh - 120px);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

body {
  background-image: url('../public/pink-sparkles.gif');
}

.navbar {
  margin-top: 20px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 40px;
}

.navItem {
  display: inline-block;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  background-color: #90029C;
  border: 3px solid #90029C;
  width: 200px;
  margin-right: 10px;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
}
