.settingsTable {
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-spacing: 0px;
  border: 3px solid #007DBA;
  border-radius: 10px;
}

.settingsCell {
  padding: 10px;
}

.settingsCellDescription {
  font-size: 18px;
  padding: 10px;
}

.settingsHeader {
  background-color: #007DBA;
  font-size: 22px;
  padding: 10px;
  color: white;
  text-align: left;
}

.highlightedCell {
  background-color: rgb(236, 212, 239);
}

.settingsContainer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  /* position: relative; */

  input[type=button] {
    /* align-self: last; */
    /* text-align: right; */
    /* position: absolute;
    right: 0;
    margin-bottom: 50px; */
    float: right;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}
